In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
path_to_leaves = "../data/example_birds/leaves_birds_states.tsv"

In [5]:
states_dtype=np.float16
dtypes = {
    "p_A": states_dtype, 
    "p_C": states_dtype, 
    "p_G": states_dtype, 
    "p_T": states_dtype,
    "Site": np.int32,
    "Part": np.int8,
}
usecols = ["Node", "Part", "Site", "p_A", "p_C", "p_G", "p_T"]
leaves = pd.read_csv(path_to_leaves, sep="\t", usecols=usecols, dtype=dtypes)

In [9]:
leaves.Node.nunique()

764

In [7]:
leaves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8652300 entries, 0 to 8652299
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   Node    object
 1   Part    int8
 2   Site    int32
 3   p_A     float16
 4   p_C     float16
 5   p_G     float16
 6   p_T     float16
dtypes: float16(4), int32(1), int8(1), object(1)
memory usage: 173.3+ MB

764 - 173MB<br>
50000 - X

In [10]:
50000 * 173 / 764  # MB

11321.989528795812

In [18]:
import sqlite3

path_to_db = '/tmp/example.db'
con = sqlite3.connect(path_to_db)
cur = con.cursor()

In [25]:
data = []
for row in cur.execute("SELECT * FROM states WHERE Node='Acanthisitta_chloris' ORDER by Part,Site"):
    data.append(row)
    # pass

In [27]:
pd.DataFrame(data)

                          0   1     2  3    4    5    6    7
0      Acanthisitta_chloris   1     1  -  0.0  0.0  0.0  0.0
1      Acanthisitta_chloris   1     2  -  0.0  0.0  0.0  0.0
2      Acanthisitta_chloris   1     3  -  0.0  0.0  0.0  0.0
3      Acanthisitta_chloris   1     4  -  0.0  0.0  0.0  0.0
4      Acanthisitta_chloris   1     5  -  0.0  0.0  0.0  0.0
...                     ...  ..   ... ..  ...  ...  ...  ...
11320  Acanthisitta_chloris  12  1916  -  0.0  0.0  0.0  0.0
11321  Acanthisitta_chloris  12  1917  -  0.0  0.0  0.0  0.0
11322  Acanthisitta_chloris  12  1918  -  0.0  0.0  0.0  0.0
11323  Acanthisitta_chloris  12  1919  -  0.0  0.0  0.0  0.0
11324  Acanthisitta_chloris  12  1920  -  0.0  0.0  0.0  0.0

[11325 rows x 8 columns]